.contacts {
  background: url('~images/bg/budda.jpg') top right 53% / cover no-repeat;
  padding-top: 200px;
  padding-bottom: 135px;

}

.contacts__about {
  margin-bottom: 190px;
  @include phones {
    margin-bottom: 0;
  }
}

.contacts__container {
  padding-right: 12%;
  @include phones {
    padding: 0;
  }
}

.contacts__form {
  width: 89%;
}