
.menu {
  @include tablets{
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  margin-right: 24%;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu--color-white {
  color:#fff; 
}